.course-index {
  display: flex;
  max-width: 1200px;
  margin: 10px auto;
  flex-wrap: wrap;
}

.course-index-header {
  max-width: 1200px;
  margin: auto;
  line-height: 1.1;
  color: #505763;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.course-item-container {
  width: 216px;
  height: 290px;
  margin-bottom: 30px;
  margin-right: 24px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  transition: all 0.2s ease-in-out;
}

.course-item-container:hover img {
  filter: brightness(0.7);
}

.course-item-container:hover {
  box-shadow: 0 0 21px 4px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.course-thumbnail-container img {
  height: 122px;
  max-width: 100%;
  filter: sepia(.1) grayscale(.1) saturate(.8);
}

.course-item-card {
  padding: 15px 10px 0 15px;
}

.course-item-card h3 {
  font-size: 15px;
  min-height: 42px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  color: #29303b;
}

.course-item-card h4 {
  color: #686f7a;
  font-size: 12px;
  display: block;
  height: 21px;
  overflow: hidden;
  margin-bottom: 10px;
}

.course-item-ratings {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: #686f7a;
}

.course-item-ratings .star-rating-avg {
  margin-left: 5px;
  color: #505763;
  font-weight: 600;
}

.course-item-ratings .star-rating-count {
  margin-left: 5px;
}

.course-item-ratings .fas.full {
  color: #f4c150;
}

.course-item-ratings .fas.empty {
  color: #dedfe0;
}

.course-show-header-subscribed {
  font-size: 18px;
}

.course-show-header-subscribed .fas {

}
.course-show-header-subscribed .fa-circle {
  font-size: 23px;
  color: #fff;
}

.course-show-header-subscribed .fa-circle {
  font-size: 24px;
  color: #007791;
}

.course-show-header-subscribed .fa-stack {
  vertical-align: -34%;
}
