.course-show-header-container {
  color: #fff;
  background-color: #29303b;
  height: 300px;
}

.course-show-header-inner {
  width: 1200px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
}

.course-show-header-inner-left {
  height: 239.062px;
  width: 425px;
  margin-right: 50px;
}

.course-show-header-inner-left img {
  height: 100%;
  width: 100%;
}

.course-show-header-title {
  padding-right: 60px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.course-show-header-inner-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-show-header-inner-right button {
  min-width: 180px;
  max-width: 215px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.course-show-header-inner-right .course-item-ratings {
  margin-top: 20px;
  font-size: 15px;
}

.course-show-header-inner-right .fas {
  margin-right: 4px;
}


.course-show-header-progress svg {
  margin-top: 10px;
  margin-bottom: -5px;
}

.course-show-progress-bar {
  border-radius: 2px;
}
