.footer-main {
  display: block;
  background: #fff;
  box-shadow: 0 0 0px 0px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  font-family: "Open Sans", sans-serif;
  border-bottom: 6px solid #ec5255;
  border-top: 1px solid #e8e9eb;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  height: 65px;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.footer-inner-right {
  font-size: 24px;
  opacity: 0.5;
}

.footer-inner-right a {
  margin-left: 15px;
}

.fa-github {
  color: black;
}

.fa-linkedin {
  color: #0077B5;
}
