.main-banner-container {
  height: 450px;
  background-image: url(https://s3-us-west-1.amazonaws.com/cjthom03-udemyclone/Assets/Banners/banner2.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
}

.main-banner-inner {
  width: 1200px;
  margin: auto;
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  font-weight: 300;
}

.main-banner-inner span {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.main-banner-inner span:first-child {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1;
}


.about-instatute-banner {
  display: block;
  border: none;
  background: linear-gradient(-45deg,#ec5252,#6e1a52);
}

.about-instatute-banner-inner {
  max-width: 1200px;
  display: flex;
  margin: auto;
}

.about-instatute-banner-inner-third {
  width: 33.3%;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 25px;
}

.about-instatute-banner-inner-third:nth-child(1) {
  padding-left: 0;
}

.about-instatute-banner-inner-third:nth-child(2) {
  justify-content: center;
}

.about-instatute-banner-inner-third:nth-child(3) {
  justify-content: flex-end;
}

.about-instatute-banner-inner-third i {
  font-size: 47px;
  margin-right: 16px;
  margin-top: -2px;
}

.about-instatute-banner-inner-third b {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.43;
}

.about-instatute-banner-inner-third p {
  font-size: 15px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.43;
}
