.search-input {
  background-color: #f2f3f5;
  border: 1px solid transparent;
  height: 45px;
  padding: 0 15px;
  border-radius: 2px 0 0 2px;
  font-size: 13px;
  width: 100%;
}

.search-input:focus {
  background-color: #fff;
  border-color: #dedfe0;
  box-shadow: none;
}

.search-input-div {
  position: relative;
  /* display: flex; */
}

.search-icon {
  position: absolute;
  top: 0px;
  right: -30px;
  padding: 15px;
  color: #ec5252;
}

.search-icon:hover {
  color: #fff;
  background-color: #ec5252;
}
