.search-container {
  position: relative;
}
.search-input {
  background-color: #f2f3f5;
  border: 1px solid transparent;
  height: 45px;
  padding: 0 15px;
  border-radius: 2px 0 0 2px;
  font-size: 13px;
  width: 100%;
}

.search-input:focus {
  background-color: #fff;
  border-color: #dedfe0;
  box-shadow: none;
}

.search-input-div {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 0px;
  right: -30px;
  padding: 15px;
  color: #ec5252;
}

.search-icon:hover {
  color: #fff;
  background-color: #ec5252;
}

.dropdown-search-container {
  position: absolute;
  top: 100%;
  box-shadow: 0 4px 16px rgba(20,23,28,.25);
  background: #fff;
  border-radius: 0 0 2px 2px;
  width: calc(100% + 30px);
}

.dropdown-search-item-wrapper {
  display: flex;
  padding: 5px 16px;
  align-items: center;
  color: #505763;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-search-item-wrapper:hover {
  color: #007791;
  background-color: #f2f3f5;
}

.active .dropdown-search-item-wrapper {
  color: #007791;
  background-color: #f2f3f5;
}

.dropdown-search-item-wrapper:last-child {
  margin-bottom: 5px;
}

.dropdown-search-item-wrapper:first-child {
  margin-top: 5px;
}

.dropdown-search-item-icon {
  margin-right: 10px;
  color: #cacbcc;
  vertical-align: -8%;
}
